<testsystem-menu>
    <h1>Налаштування теста</h1>
    <form #form="ngForm" (ngSubmit)="form.valid && createTest()">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Назва теста</mat-label>
            <input [(ngModel)]="selectedTest.name" matInput name="name" placeholder="Математика" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Кількість питань</mat-label>
            <input [(ngModel)]="selectedTest.questionsNumber" matInput min="1" name="questions" placeholder="0" required
                   type="number">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Тривалість теста</mat-label>
            <input [(ngModel)]="selectedTest.durationMinutes" matInput min="1" name="duration" placeholder="0" required
                   type="number">
        </mat-form-field>
        <button mat-raised-button>{{selectedTest.id ? "Зберегти" : "Створити"}}</button>
        <button (click)="generateLink()" *ngIf="selectedTest.id" mat-raised-button type="button">
            Скопіювати посилання
        </button>
        <button (click)="deleteTest()" *ngIf="selectedTest.id" mat-raised-button type="button">Видалити</button>
    </form>
    <br/>
    <div *ngIf="selectedTest.id">
        <h1>Питання теста</h1>
        <button mat-raised-button routerLink="/question">Додати питання</button>
        <table [dataSource]="selectedTest.questions" class="mat-elevation-z8" mat-table>
            <ng-container matColumnDef="text">
                <th *matHeaderCellDef mat-header-cell>Питання</th>
                <td *matCellDef="let element" class="question" mat-cell>{{element.text | plain}}</td>
            </ng-container>
            <ng-container matColumnDef="buttons">
                <th *matHeaderCellDef mat-header-cell>Дії</th>
                <td (click)="$event.stopPropagation()" *matCellDef="let element" mat-cell>
                    <button (click)="editQuestion(element)" mat-raised-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="deleteQuestion(element.id)" mat-raised-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr *matHeaderRowDef="['text', 'buttons']" mat-header-row></tr>
            <tr *matRowDef="let row; columns: ['text', 'buttons'];" mat-row></tr>
        </table>
        <br/>
        <h1>Результати теста</h1>
        <table [dataSource]="selectedTest.testSessions" class="mat-elevation-z8" mat-table>
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell>Імʼя</th>
                <td *matCellDef="let element" mat-cell>{{element.userName}}</td>
            </ng-container>
            <ng-container matColumnDef="score">
                <th *matHeaderCellDef mat-header-cell>Оцінка</th>
                <td *matCellDef="let element" mat-cell>{{element.score}}</td>
            </ng-container>
            <ng-container matColumnDef="time">
                <th *matHeaderCellDef mat-header-cell>Час</th>
                <td *matCellDef="let element" mat-cell>{{element.elapsedTime}}</td>
            </ng-container>
            <ng-container matColumnDef="buttons">
                <th *matHeaderCellDef mat-header-cell>Дії</th>
                <td (click)="$event.stopPropagation()" *matCellDef="let element" mat-cell>
                    <button (click)="deleteResult(element.id)" mat-raised-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr *matHeaderRowDef="['name', 'score', 'time', 'buttons']" mat-header-row></tr>
            <tr *matRowDef="let row; columns: ['name', 'score', 'time', 'buttons'];" mat-row></tr>
        </table>
    </div>
</testsystem-menu>