<testsystem-menu>
    <h1>Настройки теста</h1>
    <form #form="ngForm" (ngSubmit)="form.valid && createTest()">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Название теста</mat-label>
            <input matInput placeholder="Математика" name="name" required
                   [(ngModel)]="selectedTest.name">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Количество вопросов</mat-label>
            <input matInput type="number" placeholder="0" name="questions" required min="1"
                   [(ngModel)]="selectedTest.questionsNumber">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Продолжительность теста</mat-label>
            <input matInput type="number" placeholder="0" name="duration" required min="1"
                   [(ngModel)]="selectedTest.durationMinutes">
        </mat-form-field>
        <button mat-raised-button>{{selectedTest.id ? "Сохранить" : "Создать"}}</button>
        <button mat-raised-button type="button" *ngIf="selectedTest.id" (click)="generateLink()">Скопировать ссылку
        </button>
        <button mat-raised-button type="button" *ngIf="selectedTest.id" (click)="deleteTest()">Удалить</button>
    </form>
    <br/>
    <div *ngIf="selectedTest.id">
        <h1>Вопросы теста</h1>
        <button mat-raised-button routerLink="/question">Добавить вопрос</button>
        <table mat-table [dataSource]="selectedTest.questions" class="mat-elevation-z8">
            <ng-container matColumnDef="text">
                <th mat-header-cell *matHeaderCellDef>Вопрос</th>
                <td mat-cell class="question" *matCellDef="let element"> {{convertToPlain(element.text)}} </td>
            </ng-container>
            <ng-container matColumnDef="buttons">
                <th mat-header-cell *matHeaderCellDef>Действия</th>
                <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                    <button mat-raised-button (click)="editQuestion(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-raised-button (click)="deleteQuestion(element.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['text', 'buttons']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['text', 'buttons'];"></tr>
        </table>
        <br/>
        <h1>Результаты теста</h1>
        <table mat-table [dataSource]="selectedTest.testSessions" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Имя</th>
                <td mat-cell *matCellDef="let element">{{element.userName}}</td>
            </ng-container>
            <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef>Оценка</th>
                <td mat-cell *matCellDef="let element">{{element.score}}</td>
            </ng-container>
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef>Время</th>
                <td mat-cell *matCellDef="let element">{{element.elapsedTime}}</td>
            </ng-container>
            <ng-container matColumnDef="buttons">
                <th mat-header-cell *matHeaderCellDef>Действия</th>
                <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                    <button mat-raised-button (click)="deleteResult(element.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['name', 'score', 'time', 'buttons']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['name', 'score', 'time', 'buttons'];"></tr>
        </table>
    </div>
</testsystem-menu>