<div class="app-container">
    <mat-chip-list *ngIf="mobile && showMenu">
        <mat-chip *ngFor="let test of (tests|async).tests">
            <a (click)="setTest(test)">{{test.name}}</a>
        </mat-chip>
    </mat-chip-list>
    <div class="sidenav" *ngIf="!mobile && showMenu">
        <h3>Ваши тесты:</h3>
        <mat-nav-list>
            <mat-list-item *ngFor="let test of (tests|async).tests">
                <a (click)="setTest(test)">{{test.name}}</a>
            </mat-list-item>
            <br>
            <button mat-raised-button (click)="createTest()">Создать тест</button>
        </mat-nav-list>
    </div>
    <div class="main-content">
        <ng-content></ng-content>
    </div>
</div>
