<div class="app-container">
    <mat-chip-listbox *ngIf="mobile">
        <mat-chip-option *ngFor="let test of tests">
            <a (click)="setTest(test)">{{test.name}}</a>
        </mat-chip-option>
    </mat-chip-listbox>
    <div *ngIf="!mobile" class="sidenav">
        <h3>Ваші тести:</h3>
        <mat-nav-list>
            <mat-list-item *ngFor="let test of tests">
                <a (click)="setTest(test)">{{test.name}}</a>
            </mat-list-item>
            <br>
            <button (click)="createTest()" mat-raised-button>Створити тест</button>
        </mat-nav-list>
    </div>
    <div class="main-content">
        <ng-content></ng-content>
    </div>
</div>