.app-container {
    display: flex;
}

.main-content {
    width: 100%;
    margin-right: 15px;
    padding-left: 10%;
    padding-right: 10%;
    overflow-y: scroll;
}

.sidenav {
    display: inline-block;
    margin: 16px;
    width: 30%;
    max-width: 300px;
    min-width: 200px;
    border: 1px solid silver;
    border-radius: 10px;
    text-align: center;
    min-height: 88vh;
}

a {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

mat-list-item {
    background: #d5d5d5;
    margin-top: 10px;
}

mat-chip {
    height: auto;
}

h3 {
    margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
    .main-content {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 800px) {
    .app-container {
        display: block;
    }
    .main-content {
        margin-right: 0;
    }
}