@use "@angular/material" as mat;

@include mat.core();

$palette: mat.define-palette(mat.$purple-palette);

$app-theme: mat.define-light-theme(
                (
                        color: (
                                primary: $palette,
                                accent: $palette,
                                warn: $palette,
                        ),
                )
);

@include mat.all-component-themes($app-theme);

.example-full-width {
  width: 100%;
}
