<div class="center">
    <div class="padding" [innerHTML]="selectedQuestion.text"></div>
    <br/>
    <div class="left">
        <mat-radio-group *ngIf="!selectedQuestion.isMultipleChoice">
            <div *ngFor="let answer of selectedQuestion.answers; let i = index">
                <div style="display: flex;">
                    <mat-radio-button class="item" value="{{answer.text}}"
                                      (click)="selectAnswer(i)"
                                      [checked]="userAnswers.includes(i)">
                    </mat-radio-button>
                    <span style="padding-top: 12px">{{answer.text}}</span>
                </div>
            </div>
        </mat-radio-group>
        <section *ngIf="selectedQuestion.isMultipleChoice">
            <mat-checkbox class="item"
                          *ngFor="let answer of selectedQuestion.answers; let i = index"
                          (click)="selectAnswer(i)"
                          [checked]="userAnswers.includes(i)">
                {{answer.text}}
            </mat-checkbox>
        </section>
    </div>
    <br/>
</div>