<div class="center">
    <div class="padding" [innerHTML]="question.text"></div>
    <br/>
    <div class="left">
        <mat-radio-group *ngIf="!question.isMultipleChoice">
            <div *ngFor="let answer of question.answers; let i = index">
                <div style="display: flex;">
                    <mat-radio-button class="item" (click)="selectAnswer(i)" value="{{answer.text}}"></mat-radio-button>
                    <span style="padding-top: 12px">{{answer.text}}</span>
                </div>
            </div>
        </mat-radio-group>
        <section *ngIf="question.isMultipleChoice">
            <mat-checkbox class="item" *ngFor="let answer of question.answers; let i = index" (click)="selectAnswer(i)">
                {{answer.text}}
            </mat-checkbox>
        </section>
    </div>
    <br/>
</div>