<testsystem-menu>
    <h1>Текст питання</h1>
    <angular-editor [(ngModel)]="selectedQuestion.text" [config]="config"></angular-editor>
    <br/>
    <h1>Варіанти відповідей</h1>
    <mat-accordion>
        <div *for="selectedQuestion.answers.length + 1; let i = index">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{selectedQuestion.answers[i] == null ? 'Додати варіант' : selectedQuestion.answers[i].text}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field class="full-width">
                    <mat-label>Текст відповіді</mat-label>
                    <input matInput
                           value="{{selectedQuestion.answers[i]?.text}}"
                           (input)="answerChanged(text.value, correct.checked, i)"
                           #text>
                </mat-form-field>
                <mat-slide-toggle
                        checked="{{selectedQuestion.answers[i] == null ? false : selectedQuestion.answers[i].correct}}"
                        (change)="answerChanged(text.value, correct.checked, i)"
                        #correct>
                </mat-slide-toggle>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
    <br>
    <button mat-raised-button (click)="save()">Зберегти</button>
</testsystem-menu>
