<testsystem-menu>
    <h1>Текст питання</h1>
    <ckeditor [(ngModel)]="selectedQuestion.text"></ckeditor>
    <br/>
    <h1>Варіанти відповідей</h1>
    <mat-accordion>
        <div *for="selectedQuestion.answers.length + 1; let i = index">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{selectedQuestion.answers[i]?.text ?? 'Додати варіант'}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field class="full-width">
                    <mat-label>Текст відповіді</mat-label>
                    <input #text (input)="answerChanged(text.value, correct.checked, i)" matInput
                           value="{{selectedQuestion.answers[i]?.text}}">
                </mat-form-field>
                <mat-slide-toggle #correct (change)="answerChanged(text.value, correct.checked, i)"
                                  checked="{{selectedQuestion.answers[i]?.correct ?? false}}">
                </mat-slide-toggle>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
    <br>
    <button (click)="save()" mat-raised-button>Зберегти</button>
</testsystem-menu>
