#MathJax_Message {
  display: none;
}

.Test {
  width: 400px;
  padding-top: 50px;
  margin: auto;
}

.answered {
  color: green;
}

.Code {
  width: 100%;
  word-break: break-all;
}

.radio {
  padding-top: 50px;
}

#register {
  padding-left: 10px;
}

.h1 {
  margin: auto;
}
